.navigationDrawer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 300px; */
}

.navigationDrawer .navigationDrawer_category {
  width: 10rem;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: .1rem solid #eee;
}

.navigationDrawer_category:first-child {
  border-left: .1rem solid #eee;
}

.navigationDrawer_category,
.navigationDrawer_category-title,
.navigationDrawer .anticon {
  transition: all .3s;
}

.navigationDrawer_category:hover {
  background-color: #444;
}

.navigationDrawer_category:hover .navigationDrawer_category-title,
.navigationDrawer_category:hover .anticon {
  color: #fff;
}

.navigationDrawer_category-title {
  font-size: 1rem;
  margin: .3rem 0 0;
  color: #000;
}

.navigationDrawer .anticon {
  font-size: 2rem;
}

.navigationDrawer .ant-btn {
  padding: 0;
  border-radius: 0;
}