.tu {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.homepage {
  position: relative;
}

.homepage_drawer {
  width: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}

.navigation .ant-drawer-content-wrapper {
  height: 120px!important;
}

.navigation .ant-drawer-body {
  padding: 0;
}

.summary .ant-drawer-title {
  font-weight: bold;
  text-transform: uppercase;
}

.ant-btn {
  padding: 0;
  height: 3.2rem;
  width: 100%;
  transition: all .3s;
  border-radius: 0;
}

.ant-btn:hover {
  background-color: #444;
}

.ant-btn:hover .anticon {
  color: #fff;
}

.anticon {
  color: #000;
  margin-top: .2rem;
}

.anticon-menu {
  font-size: 1.2rem;
  margin-bottom: auto;
}

.anticon-dollar,
.anticon-shopping-cart {
  font-size: 1.5rem;
}